.dashboard-title {
  margin-top: 2rem;
  text-align: center;
}

.dashboard-card {
  display: flex;
  align-items: flex-start;
}

.edit {
  margin-left: -5rem;
  margin-top: 2rem;
}

.dashboard__img {
  margin-top: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.dashboard__img-wrapper {
  border-radius: 6px;
  display: flex;
  justify-content: center;
  margin-bottom: 0.6rem;
}

.dashboard__person-dets {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  text-align: center;
}

.dashboard__person-dets p {
  color: #525252;
  font-size: 0.9rem;
  margin: 0 auto;
  width: 20rem;
  line-height: 1.1rem;
}

.dashboard__person-name {
  font-size: 1.3rem;
  margin-bottom: 0.4rem;
}

.dashboard__person-email {
  margin-bottom: 0.4rem;
}

.dashboard__person-edit {
  align-items: center;
  background-color: #000000;
  border: none;
  color: #ffffff;
  display: flex;

  margin: 1rem auto;
  padding: 0.6rem 0.3rem;

  justify-content: center;
  width: 50%;
}

.dashboard__person-edit img {
  margin-right: 0.8rem;
}

.dashboard__person-edit p {
  font-weight: 200;
  font-size: 0.999rem;
}

.dashboard__tag-wrapper {
  display: flex;
  justify-content: space-between;
}

.dashboard__bloglist {
  margin-top: 1rem;
}

.selected {
  color: #ffffff;
  background-color: #000000;
}
