.dashboard {
  /* padding: 1rem; */
}

.dashboard__img {
  margin: 2rem auto;
  width: 16rem;
}

.dashboard__img-wrapper {
  background-color: #f6f6f6;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  margin-bottom: 0.6rem;
}

.dashboard__person-dets {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  text-align: center;
}

.dashboard__person-name {
  font-weight: 100;
  font-size: 1.6rem;
  margin-bottom: 0.3rem;
}

.dashboard__person-email {
  font-weight: 100;
  /* margin-bottom: 0.8rem; */
}

.dashboard__person-edit {
  align-items: center;
  background-color: #000000;
  /* border-radius: 3rem; */
  border: none;
  color: #ffffff;
  display: flex;

  margin: 1rem auto;
  padding: 0.6rem 0.3rem;

  justify-content: center;
  width: 50%;
}

.dashboard__person-edit img {
  margin-right: 0.8rem;
}

.dashboard__person-edit p {
  font-weight: 200;
  font-size: 0.999rem;
}

.dashboard__tag-wrapper {
  display: flex;
  justify-content: space-between;
}

.dashboard__tag {
  background-color: #ffffff;
  padding: 0.6rem 1.4rem;
  /* border-radius: 3rem; */
  box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.075);

  font-weight: 900;
  flex-grow: 0;
  flex-basis: 40%;

  text-align: center;
}

.dashboard__bloglist {
  margin-top: 4rem;
}

.selected {
  color: #ffffff;
  background-color: #000000;
}
