.blog__link {
  text-decoration: none;
  color: inherit;
}

.blog__card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  background-color: #ffffff;
  border-radius: 7px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 0.5rem 0.7rem;
}

.blog__card-left {
  display: flex;
  align-items: center;
}

.blog__card-img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-right: 0.8rem;

  object-fit: cover;
  /* filter: grayscale(100%); */
}

.blog__card-title {
  font-weight: 900;
  font-size: 1rem;
  margin-bottom: 0.2rem;
}

.blog__details {
  align-items: center;
  display: flex;
  font-weight: 800;
  margin-top: 0.6rem;
}

.blog__owner {
  font-size: 0.7rem;
}

.dot {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #666666;
  margin: 0 0.5rem;
}

.blog__card-date {
  color: #666666;
  font-size: 0.88rem;
}
